<!DOCTYPE html>
<html>
<head>
  <title>EVConsult</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li class="button_b"><a href="#">Location</a></li>
				<li class="button_b"><a href="#">Comparison</a></li>
				<li></li>
			</ul>
		</nav>
	</header>
	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
